    <!-- Incio Jumbotron -->
    <div class="container">
      <div class="jumbotron">
          <h1 class="display-4">Publicidade</h1>
          <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.</p>
        </div>
  </div>
 <!-- Fim Jumbotron-->



<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center p-2 border-bottom"
    >
    <div class="fa-2x">
      <a style= "text-decoration: none; margin: 0 15px;" href="" class="me-4 text-reset" >
          <i class="fa-brands fa-whatsapp"></i>
      </a>
      <a style= "text-decoration: none; margin: 0 15px;" href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      
      <a style= "text-decoration: none; margin: 0 15px;" href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a style= "text-decoration: none; margin: 0 15px;" href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa-solid fa-chalkboard-user"></i>
              Prof. Sergio
            </h6>
            <p>
              Graduado no Curso de Licenciatura Plena em História; Especialista em História do Brasil; Especialista em Especialização Geo - Política e História. 
            </p>
          </div>
          <!-- Grid column -->
    
  
          <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="text-align: left;">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="text-align: center;">
              Contato
            </h6>
            
            <p >
              <i class="fas fa-home me-3"></i> São Bento - PB CEP: 58865-000 </p>
            <p>
              <i class="fas fa-envelope me-3"></i> exemplo@email.com
            </p>
            <p> <i class="fa-brands fa-whatsapp me-3"></i> + 55 83 9 9696-  3131</p>

          
          
        </div>
          
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="">Code in Casa - Soluções de Software LTDA</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->