{% extends "index.html" %}

{% block content %}
    <article class="blog-post">
        <h2 class="blog-post-title">Post #1 - primeiro post</h2>
        <p class="blog-post-meta">01 de Abril de 2022    por <a href="#">Prof. Sergio</a></p>

        <p>
            Resumo do post: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada tincidunt diam eu scelerisque. Nullam laoreet eros sit amet efficitur tristique.
        </p>
        <hr>
        <p>
            Nunc aliquam nulla ante, a mattis mi viverra quis. Phasellus efficitur porta nisl, vel hendrerit diam eleifend sed. Aenean pretium odio nibh, non faucibus sapien accumsan et. Morbi tempor rhoncus sem, quis mattis dui lobortis vel. Vestibulum scelerisque quis ex vel vulputate. Etiam molestie risus eu mi pellentesque aliquet. Nulla laoreet feugiat posuere. Nunc lobortis erat ut justo pellentesque tincidunt. Pellentesque pulvinar in libero sed euismod. Duis euismod tristique tortor, nec malesuada dolor ornare sit amet. Mauris eu pellentesque massa.
        </p>
        <img src="https://www.w3schools.com/bootstrap5/paris.jpg" alt="paris vista da torre eiffel" class="img-fluid rounded">
        <p>Suspendisse tincidunt rutrum mi vitae fringilla. Vestibulum nisl lacus, eleifend vitae sodales eget, venenatis pretium lacus. In id lacinia mi, sit amet suscipit felis.</p>
        
    </article>
    <hr>

{% endblock %}