{% extends "index.html" %}
{% block content %}
    <article class="blog-post">
        <h2 class="blog-post-title"> <a href="postagem/" style="text-decoration: none; ">Post #1 - primeiro post</a></h2>
        <p class="blog-post-meta">01 de Abril de 2022    por <a href="#">Prof. Sergio</a></p>

        <p>
            Resumo do post: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada tincidunt diam eu scelerisque. Nullam laoreet eros sit amet efficitur tristique.
        </p>
        <hr>
    </article>
    
    <article class="blog-post">
        <h2 class="blog-post-title"> <a href="postagem/" style="text-decoration: none; ">Post #2 - segundo post</a></h2>
        <p class="blog-post-meta">01 de Abril de 2022    por <a href="#">Prof. Sergio</a></p>

        <p>
            Resumo do post: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada tincidunt diam eu scelerisque. Nullam laoreet eros sit amet efficitur tristique.
        </p>
        <hr>
    </article>

    <article class="blog-post">
        <h2 class="blog-post-title"> <a href="postagem/" style="text-decoration: none; ">Post #3 - terceiro post</a></h2>
        <p class="blog-post-meta">01 de Abril de 2022    por <a href="#">Prof. Sergio</a></p>

        <p>
            Resumo do post: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada tincidunt diam eu scelerisque. Nullam laoreet eros sit amet efficitur tristique.
        </p>
        <hr>
    </article>

    <article class="blog-post">
        <h2 class="blog-post-title"> <a href="postagem/" style="text-decoration: none; ">Post #4 - quarto post</a></h2>
        <p class="blog-post-meta">01 de Abril de 2022    por <a href="#">Prof. Sergio</a></p>

        <p>
            Resumo do post: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada tincidunt diam eu scelerisque. Nullam laoreet eros sit amet efficitur tristique.
        </p>
        <hr>
    </article>
    
    <article class="blog-post">
        <h2 class="blog-post-title"> <a href="postagem/" style="text-decoration: none; ">Post #5 - quinto post</a></h2>
        <p class="blog-post-meta">01 de Abril de 2022    por <a href="#">Prof. Sergio</a></p>

        <p>
            Resumo do post: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada tincidunt diam eu scelerisque. Nullam laoreet eros sit amet efficitur tristique.
        </p>
        <hr>
    </article>

    <article class="blog-post">
        <h2 class="blog-post-title"> <a href="postagem/" style="text-decoration: none; ">Post #6 - sexto post</a></h2>
        <p class="blog-post-meta">01 de Abril de 2022    por <a href="#">Prof. Sergio</a></p>

        <p>
            Resumo do post: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada tincidunt diam eu scelerisque. Nullam laoreet eros sit amet efficitur tristique.
        </p>
        <hr>
    </article>

    <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Mais antigas</a>
        <a class="btn btn-outline-secondary disabled">Mais recentes</a>
    </nav>
{% endblock %}