{% extends 'index.html' %}
{% block content %}
<main role="main">
    <img src="https://scontent.fjdo2-1.fna.fbcdn.net/v/t1.6435-9/121255654_10207650866146222_6562562298701378578_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=kiVLCKylnawAX-IQ6qE&_nc_ht=scontent.fjdo2-1.fna&oh=00_AT-wbYmiRFTBs9XYKxgQgRAIehmzo4ZKx-fSz6bT2pDGtA&oe=627C5111" width="128" height="128" alt="Thales Bruno profile picture" class="rounded-circle mx-auto d-block">
    
    <h1 style="text-align: center;" class="crayons-title fw-heavy mb-2">Prof. Segiefredo Rufino</h1>
    <p> 
    </p>
    
    <div style="text-align: center;" class="profile-header__meta">
        <span class="profile-header__meta__item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="a3txq943yl52qhfvdx7q6l9tncwhuu1q" class="crayons-icon mr-2 shrink-0"><title id="a3txq943yl52qhfvdx7q6l9tncwhuu1q">Location</title>
                <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1112.728 0zM12 13a2 2 0 100-4 2 2 0 000 4z"></path>
            </svg>
                São Bento - PB 
        </span>

        <span  class="profile-header__meta__item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="aaoprpsoqfuhrrrwqk7gt9xl1jlhqkd0" class="crayons-icon mr-2 shrink-0"><title id="aaoprpsoqfuhrrrwqk7gt9xl1jlhqkd0">Trabalhando neste projeto desde</title>
                <path d="M8 6v3.999h3V6h2v3.999h3V6h2v3.999L19 10a3 3 0 012.995 2.824L22 13v1c0 1.014-.377 1.94-.999 2.645L21 21a1 1 0 01-1 1H4a1 1 0 01-1-1v-4.36a4.025 4.025 0 01-.972-2.182l-.022-.253L2 14v-1a3 3 0 012.824-2.995L5 10l1-.001V6h2zm11 6H5a1 1 0 00-.993.883L4 13v.971l.003.147a2 2 0 003.303 1.4c.363-.312.602-.744.674-1.218l.015-.153.005-.176c.036-1.248 1.827-1.293 1.989-.134l.01.134.004.147a2 2 0 003.992.031l.012-.282c.124-1.156 1.862-1.156 1.986 0l.012.282a2 2 0 003.99 0L20 14v-1a1 1 0 00-.883-.993L19 12zM7 1c1.32.871 1.663 2.088 1.449 2.888a1.5 1.5 0 11-2.898-.776C5.85 2.002 7 2.5 7 1zm5 0c1.32.871 1.663 2.088 1.449 2.888a1.5 1.5 0 01-2.898-.776C10.85 2.002 12 2.5 12 1zm5 0c1.32.871 1.663 2.088 1.449 2.888a1.5 1.5 0 01-2.898-.776C15.85 2.002 17 2.5 17 1z"></path>
            </svg>
            Este projeto nasceu em&nbsp;<time datetime="2019-07-01T11:09:56Z" class="date">10 de jul. de 2019</time>
        </span>

        
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Formação acadêmica.<span class="text-muted">Graduação e especializações</span></h2>
          <p class="lead">Graduado no curso de Licenciatura Plena em História (FIP), Especialista em História do Brasil (FIP) , Geo ? Política e História (FIP), História da África e Afro Brasileira (UFRN), Atendimento Educacional Especializado (UFERSA) e atualmente está concluindo o curso de Especialização em Psicopedagogia (FIP). </p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Experiência profissional.<span class="text-muted"> A sala de aula de cada dia...</span></h2>
          <p class="lead">Educador, professor de História atua em salas de aulas dos Anos Finais do Ensino Fundamental na Rede Municipal da Prefeitura Municipal de Brejo do Cruz- PB e de escolas privadas da Paraíba e Rio Grande do Norte, possui experiência em gestão escolar, historiador com registro sob número 007/PB, membro da Associação dos professores de História ? Anpuh , membro da Associação Brasileira de Psicopedagogia ? ABPp sob número 88 ABPp-PB.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">História com o Professor Sergio. <span class="text-muted">Uma história de futuro...</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
    

 
{% endblock %}